body {
  margin: 0 auto;
  font-family: 'Nixie One', cursive;
  background-image: url('wallpaper.jpg');
  background-attachment: fixed;
}

/* main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

#layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  text-align: center;
  font-size: 30px;
  color: #ff78ac;
  text-shadow:
  0 0 10px #ff78ac,
  0 0 20px #ff78ac,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 90px #0ff,
  0 0 100px #0ff,
  0 0 150px #55f;
  padding-bottom: 30px;
}

.ingredients{
  display: none;
  background: rgba(234, 224, 224, 0.75);
  font-size: 20px;
  font-weight: bolder;
  width: 200px;
}

.cocktail {
  margin: 10px 40px;
}


.cocktail-name {
  display: none;
}

.cocktail-image {
  width: 200px;
  border: solid 2px #ff78ac;
  border-radius: 4px;
  padding-bottom: 2px;
  box-shadow: 0 0 150px #55f;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.cocktail-image:hover {
  box-shadow: 0 0 150px #cc55ff;
}

button {
  /* display: block; */
  display: flex;
  padding: 4px 4.5px;
  font-family: 'Nixie One', cursive;
  font-weight: bolder;
  font-size: 25px;
  color: #000000;
  border: 2px solid #11fff5;
  border-radius: 4px;
  background-color: rgba(234, 224, 224, 0.6);
  box-shadow:
    0 1px 2px rgba(0,0,0, 0.6),
    2px 4px 3px rgba(3,0,120, 0.3),
    inset 2px 4px 3px rgba(3,0,128, 0.3),
    inset 0 0 7px 2px rgba(0,208,255, 0.6);
}
