body {
  margin: 0 auto;
  font-family: 'Nixie One', cursive;
  background-image: url('wallpaper.jpg');
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}

header {
  text-align: center;
  font-size: 30px;
  color: #ff78ac;
  text-shadow:
  0 0 10px #ff78ac,
  0 0 20px #ff78ac,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 90px #0ff,
  0 0 100px #0ff,
  0 0 150px #55f;
  padding-bottom: 30px;
}

.ingredients{
  display: none;
  background: rgba(234, 224, 224, 0.51);
}

.cocktail {
  width: 200px;
}

.cocktail-name {
  display: none;
}

.cocktail-image {
  width: 100%;
  border: solid 2px #ff78ac;
  outline: solid 2px #55f;
  padding-bottom: 2px;
  box-shadow: 0 0 150px #55f;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.cocktail-image:hover {
  box-shadow: 0 0 150px #cc55ff;

}
